{% extends "MsgBundle::layout.html.twig" %}

{% block content %}
<h2>{{ 'participants.title'|trans({}, "MsgBundle")|title }}</h2>
{% if metas.first.conversation.appreference %}
	<p>{{ 'participants.managed'|trans({"%reference%":link(metas.first.conversation.appreference)}, "MsgBundle")|raw }}</p>
{% endif %}
<table>
	<thead>
		<tr>
			<th></th>
			{% for right in rights %}
				<th>{{ ('right.'~right.name)|trans({}, "MsgBundle") }}</th>
			{% endfor %}			
		</tr>
	</thead>
	<tbody>
	{% for meta in metas %}
		<tr>
			<td>{{ link(meta.user.appuser) }}</td>
			{# TODO: how to display timespans? we could theoretically have a lot of them... #}
			{% for right in rights %}
				<td align="center">
				{% if meta.hasright(right) %}
					<span class="cmsg_on icon-checkmark">&nbsp;</span>
				{% else %}
					<span class="cmsg_off icon-blocked">&nbsp;</span>
				{% endif %}
				</td>
			{% endfor %}
			<td><ul class="simple">
			{% for span in meta.timespans %}
				<li>
					{% if span.accessfrom %}
						from {{ span.accessfrom|date }}
					{% endif %}
					{% if span.accessuntil %}
						until {{ span.accessuntil|date }}
					{% endif %}
				</li>
			{% endfor %}
			</ul></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
